:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --dark-bg-color: #2f303a;
  --main-bg-color: #e5e5e5;
  --logo-font: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var (--main-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.address {
  font-style: normal;
  text-color: var(--title-color);
}

.header {
  background-color: var(--title-color);
}

.logo {
  font-family: var(--logo-font);
  color: var(--accent-color);
  text-decoration: none;
}
.dark-logo {
  font-family: var(--logo-font);
  color: #000000;
  text-decoration: none;
}

.light-logo {
  font-family: var(--logo-font);
  color: #ffffff;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: var(--second-text-color);
}

.link-tel {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link-tel:hover,
.link-tel:focus {
  color: var(--accent-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color);
}

.dark-bg-title {
  background-color: var(--dark-bg-color);
}

.bg-title {
  background-color: var(--main-bg-color);
}
.second-bg-color {
  background-color: #f5f4fa;
}

.list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.list {
  list-style: none;
}

.item-list {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.list-connection {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

/* 
основной цвет текста  #757575
фон хедера - #FFFFFF;
часть слова вэб - #2196F3;
часть слова студио - #000000;

цвет текста н1 и название кнопки - #FFFFFF;
фон н1 - #2F303A;
фон кнопки - #2196F3;

цвет текста н2 - #212121;
фон особенности и чем занимаемся - #E5E5E5;

наша команда фон - #F5F4FA;
фон картинки команды  - #FFFFFF;

цвет ссылок - #212121;
при наведении на ссылки цвет и мыло - #2196F3;
цвет телефона -  #757575;

цвет адреса - #FFFFFF;
цвет слов в футере вэб такойже а студио  -#FFFFFF;
фон футера - #2F303A;

скрыть заголовок в особеннностях


*/
